.main{
  width: 1200px;
  min-width:1200px;
  margin: auto;
}
.logo:after {
  content: '11111';
  
}
.form{
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-content{
  width: 400px;
  margin-top: 220px;
  border: 1px solid #efefef;
  padding: 15px;
  box-shadow: 1px 3px 15px #efefef;
}
.form-content .form-item-btn{
  width: 100%;
}
.form-content .form-item-btn .el-button{
  width: 100%;
  word-spacing: 10px;
}
.form-tip{
  text-align: right;
  text-decoration: none;
}
.form-tip a{
  color: #409EFF;
}
.el-menu.el-menu--horizontal .el-submenu{
  float:right;
}
.el-menu.el-menu--horizontal .el-submenu .username{
  color: #409EFF;
  display: inline-block;
  vertical-align: top;
}
.el-menu.el-menu--horizontal .el-menu-item.text-right{
  float: right;
}
.el-menu--horizontal>.el-menu-item:first-child.is-active{
  border-bottom: 0;
}
.movies-list .body{
  margin-top: 10px;
}
.movies-list .cell a{
  color: #409EFF;
}
.movies-list .cell button:last-child span{
  color: #fa5555;
}
.user-center{
  margin-top: 10px;
}
.user-center .el-form{
  width: 500px;
}
.user-center .userSettings{
  border: 1px solid #409EFF;
  color: #409EFF;
  padding: 10px 30px;
}